@import "../../../../../common/assets/sass/mixins";

* {
	margin:0;
	padding:0;
}


body {
	background-color:#e0ffe0;
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;
}

body, td, th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
}

optgroup {
	border-bottom: solid 1px #aaa;
}

.error {
	color: red;	
}

.pageWrapper {
	width:390px;
	margin:150px auto;
	/*padding: 10px 20px 20px 20px;*/
	background-color: #0275d8;
	box-shadow: 
		0 0 0 5px rgba( 255,255,255,0.4 ), 
		0 4px 20px rgba( 0,0,0,0.33 );
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	header {
		text-align:center;
		margin-bottom: 0;
		padding: 15px 20px 10px 20px;
		border-bottom: solid 1px #aaa;
	}
	
	h1 {
		font-size: 2.1em;
		font-weight: bold;
		margin-bottom: 5px;
		color: #fefefe;
	}
	
	.pageContent {
		background-color: white;
		padding: 20px;
		
		.registration {
			width: 350px;
			padding:0;
		}
	}
}

a:visited {
	color: blue;
}

form {
	position:relative;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	border: 0;
	
	li {
		margin-bottom: 10px;
	}
	
	fieldset {
		padding:0 10px 0 10px;
		margin-bottom: 15px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		float:left;
	}
	
	label {
		font-size: 14px;
		color: #369;
		font-weight:bold;
		display:block;
	}
}


legend {
	font-size: 24px;
	color: #369;
	font-weight:bold;
	margin-bottom: 5px;
}

option {
	padding-left:10px;
}

input[type=text], input[type=password], input[type=email], select {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
}

input[type=text], input[type=password], input[type=email] {
    padding: 13px 10px;
    width: 310px;
    margin-bottom: 0;
    clear: both;
}

select {
    width: 330px;
    clear: both;
    height: 42px;
    
    option {
		padding: 13px 10px;
    }
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;  
}

.largeButton {
	width: 100%;
	margin-top: 10px;
	margin-bottom:10px;
	padding: 15px 0;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
    text-decoration: none;
			
	@include background-gradient(#b9c5dd,#a4b0cb);
	
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
    
    &:hover {
    	@include background-gradient(#a4b0cb,#b9c5dd);
	        
	    cursor: pointer;
	    color: #333;
	}
}

.payment-errors {
	color: red;
	font-weight:bold;
}

.hidden {
	display: none;
}

#userSection {
  float:left;
}

@media screen and (min-width: 900px) {
  
  input[type=text], input[type=password], input[type=email] {
    width: 320px;
  }
	
	select {
	  width: 340px;
	}
	
	#setupcontainer {
		width: 710px;	
	}
	
	#planId {
		width: 710px;
	}
	
	#tenantSection {
	  float:left;
	}
	
	#userSection {
    margin-bottom: 20px;
  }
  
  #billingSection {
    width: 710px;
    
    li {
      float:left;
    }
    
    li:first-child {
      margin-right:25px;
    }
  }
	
	.registration {
		width:760px;
	
		fieldset {
			width: 340px;
		}
		
		.pageContent {
			padding: 10px;
		}
	}
}